[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/github.com/IMQS/go-apachelog"]
	path = src/github.com/IMQS/go-apachelog
	url = git@github.com:IMQS/go-apachelog
[submodule "src/github.com/IMQS/serviceconfigsgo"]
	path = src/github.com/IMQS/serviceconfigsgo
	url = git@github.com:IMQS/serviceconfigsgo.git
[submodule "src/github.com/IMQS/gowinsvc"]
	path = src/github.com/IMQS/gowinsvc
	url = git@github.com:IMQS/gowinsvc.git
